.main-field {
  
  &__stars-wrapper {
    display: flex;
    padding-left: 50px;
    height: 50px;
  }

  &__success-star,
  &__error-star {
    padding: 3px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.success-game,
.failure-game {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    color: brown;
  }

  &__image {
    width: 45vw;
  }
}