{
  "env": {
    "browser": true,
    "es2021": true
  },

  "ignorePatterns": [
    "webpack.config.js"
  ],

  "extends": [
    "airbnb-typescript/base",
    "airbnb-typescript-prettier"
  ],

  "parser":"@typescript-eslint/parser",

  "parserOptions": {
    "project":"./tsconfig.json"
  },

  "plugins": [
    "@typescript-eslint"
  ],

  "rules" : {
    "import/prefer-default-export": "off",
    "no-control-regex": 0,
    "no-new": 0,
    // "import/no-cycle": 0,
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true
      }
    ]
  }
}
