html,
body {
  margin: 0;
  padding: 0;
}

.main-app {
  min-height: calc(100vh - 160px);
}

.main-field__cards-wrapper {
  margin: 0 auto;
  max-width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}