.header {
  padding: 15px;
  padding-left: 20px;
}

.garage-btn,
.winners-btn {
  padding: 8px;
  width: 80px;
  
  box-sizing: border-box;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  outline-style: none;
  transition: all 0.5s;
}

.garage-btn {
  margin-right: 20px;
}

.garage-btn:hover,
.winners-btn:hover {
  cursor: pointer;
  background-color: #ccc;
} 