.footer {
  height: 60px;
  background-image: linear-gradient(to right bottom, #6c45ca, #8846cb, #a046cc, #b747cb, #cc49ca, #bc66e1, #ab7ef2, #9a92ff, #4cb5ff, #00d1ff, #00e8ff, #5ffbf1);
  

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 

  &__git-link,
  &__logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  &__git-link {
    width: 36px;
    height: 35px;
  }

  &__logo {
    width: 90px;
    height: 34px;
  }
}