.intput-wrapper { 
  position: relative;
}

.input__email-wrapper > .input__tooltip {
  left: 10px;
  top: 60px;
}

.input_error  { 
  border: 2px solid red !important; 
} 

.input_success {
  border: 2px solid green !important;
}